* {
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
}

h1,
h2,
p {
  margin: 12px 0px;
}

@media only screen and (max-width: 767px) {
  .App {
    height: auto;
  }
}

.logo {
  width: 60px;
}

.text-buttons-stack {
  display: flex;
  flex-direction: column;
}

.process-text-buttons {
  display: flex;
  gap: 16px;
}

Button {
  width: fit-content;
}

.copy-text {
  display: flex;
  align-items: flex-end;
  margin: 16px 0px;
}
