.App {
  text-align: center;
  padding: 28px;
}

.logo {
  width: 80px;
}

h1 {
  margin-top: 10px;
}

.Button {
  width: fit-content;
  align-self: center;
}

.button-stack {
  align-self: center;
}

.processed-text {
  text-align: left;
}
